@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700);

/*-------------------------------
** general
** ------------------------------*/
body {
  color: #656565;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.container {
  max-width: 1060px;
}

/*------------------------------
** text
** -----------------------------*/
.text-color-primary {
  color: #2abbae;
}

/*-----------------------------
** header
**----------------------------*/
.header-cover {
  height: 650px;
  background: url(../img/cover_header.jpg) no-repeat bottom center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}
.header-cover .header-inner {
  padding-top: 200px;
  text-align: center;
  color: #ffffff;
}
.header-cover .header-inner h1 {
  font-weight: 300;
  font-size: 45px;
}
.header-cover .header-inner h1 strong {
  font-weight: 500;
}
.header-cover .button-area {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  text-align: center;
  font-size: 50px;
}
.header-cover .button-area a {
  color: #2abbae;
  text-decoration: none;
}
.header-cover .button-area a:hover,
.header-cover .button-area a:focus {
  color: #209f94;
  text-decoration: none;
}

/*---------------------------
** about
**--------------------------*/
.about {
  padding-top: 100px;
  padding-bottom: 250px;
  background: #f0f0f0 url(../img/bg_about_2.png) no-repeat bottom right;
  font-size: 16px;
}
.about h2 {
  font-weight: 300;
  margin-bottom: 30px;
}
.about h2 strong {
  font-weight: 500;
}
.about p {
  margin-bottom: 30px;
}

/*--------------------------
** portfolio
**-------------------------*/
.portfolio {
  background: #2abbae;
  padding: 100px 0px;
}
.portfolio h2 {
  font-size: 50px;
  font-weight: 300;
  text-align: center;
  color: #ffffff;
}
.portfolio .text-big {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 55px;
  color: #ffffff;
}
.portfolio-loop .portfolio-item {
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
}
.portfolio-loop a,
.portfolio-loop a:hover,
.portfolio-loop a:focus {
  color: #454442;
  text-decoration: none;
}
.portfolio-loop .portfolio-item .thumb .thumb-img {
  width: 100%;
  height: auto;
}
.portfolio-loop .portfolio-item .caption {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.9);
  padding: 20px;
  opacity: 0;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.portfolio-loop .portfolio-item:hover .caption {
  opacity: 1;
}
.portfolio-loop .portfolio-item .title {
  font-size: 18px;
  font-weight: 500;
}
.portfolio-loop .portfolio-item .desc {
  margin-top: 20px;
}
.portfolio-more {
  margin-top: 30px;
  font-size: 20px;
}
.portfolio-more a {
  color: #ffffff;
  text-decoration: none;
}
.portfolio-more a:hover,
.portfolio-more a:focus {
  color: #e7edec;
  text-decoration: none;
}
/*--------------------------
** contact
**--------------------------*/
.contact {
  background: #1b1e25;
  color: #ffffff;
  padding: 100px 0px;
}
.contact .contact-social-media {
  margin-bottom: 40px;
}
.contact h2 {
  font-size: 45px;
  font-weight: 300;
  margin-bottom: 50px;
}
.contact h2 strong {
  font-weight: 600;
}
.contact p {
  font-size: 16px;
  margin-bottom: 30px;
}
.contact .contact-item {
  font-size: 16px;
  margin-bottom: 20px;
}
.contact .contact-item .contact-icon {
  font-size: 20px;
  margin-right: 10px;
}
.contact-form .form-group {
  margin-bottom: 25px;
}
.contact-form .form-control {
  background: transparent;
  border: 1px solid #ffffff;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  font-size: 18px;
  color: #ffffff;
}
.contact-form input.form-control {
  height: 55px;
  line-height: 55px;
}
.contact-form .form-control::-webkit-input-placeholder,
.contact-form .form-control:-moz-placeholder,
.contact-form .form-control::-moz-placeholder,
.contact-form .form-control:-ms-input-placeholder {
  color: #ffffff;
}
.btn.btn-default {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  padding-left: 50px;
  padding-right: 50px;
}
.btn.btn-lg {
  height: 60px;
  line-height: 60px;
  padding-top: 0px;
  padding-bottom: 0px;
}
/*-----------------------
** footer
**-----------------------*/
.footer {
  background: #0d0e11;
  color: #ffffff
  padding: 20px 0px;
}
